<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
        
      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap" href="#/tab/dash/missions">
        <div class="item-icon-left">
            <i class="icon ion-speakerphone"></i>
        </div>
        <h2>MISSIONS</h2>
        <p></p>
        <div class="item-icon-right">
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar"  type="item-text-wrap" href="#/tab/dash/leaderboard">
        <div class="item-icon-left">
            <i class="icon ion-trophy"></i>
        </div>
        <h2>LEADERBOARD</h2>
        <p></p>
        <div class="item-icon-right">
            <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 